<!DOCTYPE html>
<html>
  <head>
    <title>Present Registry Service</title>
  </head>
  <body>
    <div class="container-fluid" id="app">
      <div class="jumbotron jumbotron-fluid text-center">
        <h1>Present Registry - CS3103 Final Project</h1>
        <p><em>Stephen Keith LeBlanc and Patrick Mockler</em></p>
      <div v-if="!authenticated" class="form-group text-center">
        <input class="col-4 mx-auto form-control" type="text" name="username" v-model="input.username" placeholder="Username" />
        <input class="col-4 mx-auto form-control" type="password" name="password" v-model="input.password" placeholder="Password" />
        <button class="col-4 btn btn-outline-success" type="button" v-on:click="login()">Login</button>
      </div>
      <div v-else class="text-center">
        <button type="button" class="btn btn-outline-danger" v-on:click="logout()">Logout</button>
        <div v-if="currentUser.isAdmin" id="presentListButtons">
          <div class="btn-group-xs">
            <button type="button" class="btn btn-outline-primary" v-on:click="showModalAdd()">Add a present</button>
          </div>
        </div>
        <div v-else-if="currentUser.userID == selectedUser.userID" id="presentListButtons">
          <div class="btn-group-xs">
            <button type="button" class="btn btn-outline-primary" v-on:click="showModalAdd()">Add a present</button>
          </div>
        </div>
      </div>
    </div>
    <div v-if="authenticated">
      <div class="user-list-title">
        Current user: {{currentUser.userName}}<br>

      </div>
      <div class="row">
        <div class="col-3">
          <div v-if="userData != null" id="userList">
            <ul class="user-list-group">
              <div v-for="user in userData">
                <li class="list-group-item col-7 mx-auto">
                  <div class="d-flex w-100 justify-content-between">
                    {{user.userName}}
                    <div class="btn-group-xs">
                      <button class="utilityBtn user-presents-button" v-on:click="getPresentsByUser(user.userID)">View presents</button>
                    </div>
                  </div>
                </li>
              </div>
            </ul>
          </div>
        </div>
        <div class="col-9">
          <div v-if="presentData != null" id="presentList">
            <ul class="list-group">
              <div v-for="present in presentData">
                <li class="list-group-item col-7 mx-auto">
                  <div class="d-flex w-100 justify-content-between">
                    {{present.presentName}}<br>{{present.presentDesc}}<br>${{formatPrice(present.presentPrice)}}
                    <div v-if="currentUser.isAdmin" id="presentListButtons">
                      <div class="btn-group-xs">
                        <button class="utilityBtn text-success" v-on:click="selectPresent(present.presentID); showModalUpdate()">Update present</button>
                        <br>
                        <button class="utilityBtn text-danger" v-on:click="deletePresent(present.presentID)">Delete present</button>
                      </div>
                    </div>
                    <div v-else-if="currentUser.userID == selectedUser.userID" id="presentListButtons">
                      <div class="btn-group-xs">
                        <button class="utilityBtn text-success" v-on:click="selectPresent(present.presentID); showModalUpdate()">Update present</button>
                        <br>
                        <button class="utilityBtn text-danger" v-on:click="deletePresent(present.presentID)">Delete present</button>
                      </div>
                    </div>
                  </div>
                </li>
              </div>
            </ul>
          </div>
        </div>
      </div>  
    </div>

    <div v-if="authenticated">

      <modal v-if="modalAdd" @close="hideModal">
        <!--
          you can use custom content here to overwrite
          default content
        -->
        <div slot="header" class="modal-header">
          Add a present here: (* Denotes required field)
        </div>
        <div slot="body">
          <div class="form-group col-6">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text  modal-prepend">Present *</span>
              </div>
              <input class="col-8 form-control" required type="text" id="presentName" v-model="presentForm.presentName" placeholder="What did you get? (Ex: Saint's Row IV)" />
            </div>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text modal-prepend">Description</span>
              </div>
              <input class="col-8 form-control" type="text" id="presentDesc" v-model="presentForm.presentDesc" placeholder="What does it do? (Ex: A video game)" />
            </div>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text  modal-prepend">Price *</span>
              </div>
              <input class="col-8 form-control" required type="text" step="any" id="presentPrice" v-model="presentForm.presentPrice" placeholder="How much was it? (Ex: 19.99)" />
              <div class="input-group-postend">
                <span class="input-group-text  modal-prepend">$</span>
              </div>
            </div>
          </div>
        </div>
        <div slot="footer">
            <button type="button" class="btn btn-secondary" v-on:click="addPresent()">Add present</button>
            <button type="button" class="btn btn-outline-danger" v-on:click="hideModal()">Close</button>
        </div>
      </modal>

      <modal v-if="modalUpdate" @close="hideModal">
        <!--
          you can use custom content here to overwrite
          default content
        -->
        <div slot="header" class="modal-header">
          Update a present's info: (* Denotes required field)
        </div>
        <div slot="body">
          <div class="form-group col-6">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text  modal-prepend">Present *</span>
              </div>
              <input class="col-8 form-control" required type="text" id="presentName" v-model="presentNameField" filled={{selectedPresent.presentName}} />
            </div>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text modal-prepend">Description</span>
              </div>
              <input class="col-8 form-control" type="text" id="presentDesc" v-model="presentDescField" filled={{selectedPresent.presentDesc}} />
            </div>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text  modal-prepend">Price *</span>
              </div>
              <input class="col-8 form-control" required type="text" step="any" id="presentPrice" v-model="presentPriceField" filled={{selectedPresent.presentPrice}} />
              <div class="input-group-postend">
                <span class="input-group-text  modal-prepend">$</span>
              </div>
            </div>
          </div>
        </div>
        <div slot="footer">
            <button type="button" class="btn btn-secondary" v-on:click="updatePresent(selectedPresent.presentID)">Update present</button>
            <button type="button" class="btn btn-outline-danger" v-on:click="hideModal()">Close</button>
        </div>
      </modal>
    </div>
    <!-- template for the modal component -->
    <script type="text/x-template" id="modal-template">
      <transition name="modal">
        <div class="modal-backdrop">
        <div class="modal">
          <header class="modal-header">
            <slot name="header">
              This is the default tile!
              <button type="button" class="btn-close" @click="hideModal()">
                x
              </button>
            </slot>
          </header>
          <section class="modal-body">
            <slot name="body">
              I'm the default body!
            </slot>
           </section>
           <footer class="modal-footer">
              <slot name="footer">
                I'm the default footer!
                <button type="button" class="btn-green" @click="hideModal()">
                  Close me!
                </button>
              </slot>
            </footer>
          </div>
        </div>
      </transition>
    </script>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="static/appScript.js" ></script>
  <link rel="stylesheet" href="static/app.css">
</body>
</html>
