<!DOCTYPE html>
<html>
  <head>
    <title>School Service</title>
  </head>
  <body>
    <div class="container-fluid" id="app">
      <div class="jumbotron jumbotron-fluid text-center">
        <h1>Welcome to School Service<sup><small>TM</small></sup></sup></h1>
        <p><em>Your source for school information!</em></p>
      <div v-if="!authenticated" class="form-group text-center">
        <input class="col-4 mx-auto form-control" type="text" name="username" v-model="input.username" placeholder="Username" />
        <input class="col-4 mx-auto form-control" type="password" name="password" v-model="input.password" placeholder="Password" />
        <button class="col-4 btn btn-outline-success" type="button" v-on:click="login()">Login</button>
      </div>
      <div v-else class="text-center">
        <button type="button" class="btn btn-outline-danger" v-on:click="logout()">Logout</button>
        <button type="button" class="btn btn-outline-primary" v-on:click="fetchSchools()">List schools</button>
      </div>
    </div>
    <div v-if="authenticated">
      <div v-if="schoolsData != null" id="schoolsList">
        <ul class="list-group">
          <div v-for="school in schoolsData">
            <li class="list-group-item col-7 mx-auto">
              <div class="d-flex w-100 justify-content-between">
                {{school.name}} ({{school.province}}), {{school.level}}, {{school.language}}
                <div class="btn-group-xs">
                  <button class="utilityBtn text-success" v-on:click="selectSchool(school.schoolId)">✎</button>
                  <button class="utilityBtn text-danger" v-on:click="deleteSchool(school.schoolId)">x</button>
                </div>
              </div>
            </li>
          </div>
        </ul>
      </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/static/schoolsV2.js" ></script>
  <link rel="stylesheet" href="/static/schools.css"/>
</body>
</html>
